audit=false
fund=false
update-notifier=false
prefer-offline=true
include=optional
progress=false
save-exact=true
package-lock=true
engine-strict=true
legacy-peer-deps=true
maxsockets=1
fetch-retries=3
fetch-retry-mintimeout=5000
fetch-retry-maxtimeout=60000 